{%  extends '@Almni/Front/base.html.twig' %}
{% block body %}
    <section class="flat-title-page parallax parallax4 style2">
        <div class="overlay"></div>
        <div class="container wrap-title-page flat-text-center">
            <div class="title-page">
                <h2 class="title font-weight-700"><a href="#">liste des Absences</a></h2>
            </div>
            <div class="breadcrumbs style2">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Absences</a></li>
                </ul>
            </div>

            <div class="flat-search">
                <div class="form">
                    <input type="search" name="key" placeholder="Search" required="">
                    <button class="btn-search flat-button"><span class="icon-search"></span></button>
                </div>
            </div> <!-- /.flat-search -->
        </div>
    </section> <!-- /.flat-title-page -->

    <div class="content-wrap faqs-page">
        <div class="container">
            <div class="content-page-wrap">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="flat-faqs">
                            <div class="heading flat-text-center">
                                <h6 class="title-small">Vos Absence</h6>
                                <h3 class="title font-Poppins">Voici vos Absence </h3>
                            </div>
                            {% for a in Absenceemploye %}
                                <div class="accordion">
                                    <div class="accordion-toggle border-f-e6f3ff border-ra4">
                                        <div class="toggle-title active">
                                            {{ a.employe.nom }} {{ a.employe.prenom }}
                                        </div>
                                        <div class="toggle-content" >
                                            <h6  class="title font-Publico font-weight-700"><a href="#">
                                                    Date Absence: {{ a.getDateabsence()|date('d-m-Y H:i:s') }} </a></h6>
                                            <p>
                                                {{ a.nbrheure }}
                                            </p>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div><!-- /.accordion-toggle -->

                                </div>
                            {% endfor%}
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div> <!-- /.content-page-wrap -->
        </div> <!-- /.container -->
    </div> <!-- /.content-wrap -->

    <section class="flat-feature parallax parallax2">
        <div class="container">
            <div class="row flat-iconbox style1">
                <div class="col-lg-4 col-md-4">
                    <div class="iconbox style1 left">
                        <div class="iconbox-icon">
                            <span class="icon-book"></span>
                        </div>
                        <div class="iconbox-content">
                            <h5 class="title">80,000 ONLINE COURSES</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="iconbox style1 center">
                        <div class="iconbox-icon">
                            <span class="icon-people"></span>
                        </div>
                        <div class="iconbox-content">
                            <h5 class="title">EXPERT INSTRUCTION</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="iconbox style1 right">
                        <div class="iconbox-icon">
                            <span class="icon-key"></span>
                        </div>
                        <div class="iconbox-content">
                            <h5 class="title">LIFETIME ACCESS</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}