{%  extends '@Almni/base.html.twig' %}

{% block body %}








    <section class="flat-title-page parallax parallax4 style2">
        <div class="overlay"></div>
        <div class="container wrap-title-page flat-text-center">
            <div class="title-page">
                <h2 class="title font-weight-700"><a href="#">Frequently Asked Questions</a></h2>
            </div>
            <div class="breadcrumbs style2">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>

            <div class="flat-search">
                <div class="form">
                    <input type="search" name="key" placeholder="Search" required="">
                    <button class="btn-search flat-button"><span class="icon-search"></span></button>
                </div>
            </div> <!-- /.flat-search -->
        </div>
    </section> <!-- /.flat-title-page -->

    <div class="content-wrap faqs-page">
        <div class="container">
            <div class="content-page-wrap">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="flat-faqs">
                            <div class="heading flat-text-center">
                                <h6 class="title-small">QUESTIONS AND ANSWERS (Q&A)</h6>
                                <h3 class="title font-Poppins">Frequently Asked Questions (FAQ)</h3>
                            </div>
                            <div class="accordion">
                                <div class="accordion-toggle border-f-e6f3ff border-ra4">
                                    <div class="toggle-title active">
                                        We have a team of experienced teachers
                                    </div>
                                    <div class="toggle-content" >
                                        <p>Our academics cooperate across disciplines to create exciting new courses and develop novel approaches to research issues. Our interdisciplinary ethos has helped us to become a national leader in many subject areas.
                                        </p>
                                        <h6  class="title font-Publico font-weight-700"><a href="#">
                                                A transformational experience that will shape your unique profile and help you launch your professional career. </a> </h6>
                                        <p>With the dawn of the twentieth century, the Company handed over the Institute to the University of London. It was re-christened Goldsmiths College and the modern era of Goldsmiths had begun.
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div><!-- /.accordion-toggle -->

                                <div class="accordion-toggle border-f-e6f3ff border-ra4">
                                    <div class="toggle-title">
                                        We offer academic excellence combined with innovative thinking
                                    </div>
                                    <div class="toggle-content" >
                                        <p>Our academics cooperate across disciplines to create exciting new courses and develop novel approaches to research issues. Our interdisciplinary ethos has helped us to become a national leader in many subject areas.
                                        </p>
                                        <h6  class="title font-Publico font-weight-700"><a href="#">
                                                A transformational experience that will shape your unique profile and help you launch your professional career. </a> </h6>
                                        <p>With the dawn of the twentieth century, the Company handed over the Institute to the University of London. It was re-christened Goldsmiths College and the modern era of Goldsmiths had begun.
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div><!-- /.accordion-toggle -->

                                <div class="accordion-toggle border-f-e6f3ff border-ra4">
                                    <div class="toggle-title">
                                        We challenge you to discover your potential and support you in fulfilling
                                    </div>
                                    <div class="toggle-content" >
                                        <p>Our academics cooperate across disciplines to create exciting new courses and develop novel approaches to research issues. Our interdisciplinary ethos has helped us to become a national leader in many subject areas.
                                        </p>
                                        <h6  class="title font-Publico font-weight-700"><a href="#">
                                                A transformational experience that will shape your unique profile and help you launch your professional career. </a> </h6>
                                        <p>With the dawn of the twentieth century, the Company handed over the Institute to the University of London. It was re-christened Goldsmiths College and the modern era of Goldsmiths had begun.
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div><!-- /.accordion-toggle -->

                                <div class="accordion-toggle border-f-e6f3ff border-ra4">
                                    <div class="toggle-title">
                                        Careers Service - finding work during and after studying
                                    </div>
                                    <div class="toggle-content" >
                                        <p>Our academics cooperate across disciplines to create exciting new courses and develop novel approaches to research issues. Our interdisciplinary ethos has helped us to become a national leader in many subject areas.
                                        </p>
                                        <h6  class="title font-Publico font-weight-700"><a href="#">
                                                A transformational experience that will shape your unique profile and help you launch your professional career. </a> </h6>
                                        <p>With the dawn of the twentieth century, the Company handed over the Institute to the University of London. It was re-christened Goldsmiths College and the modern era of Goldsmiths had begun.
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div><!-- /.accordion-toggle -->

                                <div class="accordion-toggle border-f-e6f3ff border-ra4">
                                    <div class="toggle-title">
                                        Disability Service - equipment or support you need to study effectively
                                    </div>
                                    <div class="toggle-content" >
                                        <p>Our academics cooperate across disciplines to create exciting new courses and develop novel approaches to research issues. Our interdisciplinary ethos has helped us to become a national leader in many subject areas.
                                        </p>
                                        <h6  class="title font-Publico font-weight-700"><a href="#">
                                                A transformational experience that will shape your unique profile and help you launch your professional career. </a> </h6>
                                        <p>With the dawn of the twentieth century, the Company handed over the Institute to the University of London. It was re-christened Goldsmiths College and the modern era of Goldsmiths had begun.
                                        </p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div><!-- /.accordion-toggle -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div> <!-- /.content-page-wrap -->
        </div> <!-- /.container -->
    </div> <!-- /.content-wrap -->












{% endblock %}